#cheatsheet {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: sans-serif;
  font-size: .8em;
}

h3 {
  margin-bottom: 0;
  background-color: #C9C7BD;
}

/*div.section {*/
/*break-inside: avoid-column;*/
/*}*/
pre, code {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Lucida Console", monospace, mono;
}
pre {
  margin: 0;
  padding: 0;
  color: #a52a2a;
}
p:nth-of-type(odd), p:nth-of-type(odd) + pre {
  background-color: #F9F7ED;
}
p {
  margin: 0;
  white-space: normal;
}

#cheatsheet div.description {
  font-size: small;
  color: grey;
  font-size: 1.2em;
}

#cheatsheet #tagCloud {
  position: absolute;
  right: 10px;
  top: 10px;
}
